*{
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

nav{
  width: 100%;
  height: 110px;
}

nav img {
  width: 63px;
  height: 43px;
}

.pink-icon, .white-icon{
  position: absolute;
  top: 30px;
  left: 100px;
  width: 70px;
  height: 50px;
}

nav ul{
  position: absolute;
  top: 50px;
  right: 35px;
  display: inline-block;
}

nav ul li{
list-style: none;
display: inline-block;
}

.nav-explore{
  padding-left: 35px;
  padding-right: 15px;
}
.nav-login, .nav-signup{
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 20px;

}
.nav-login{
  margin-left: 40px;
  margin-right: 20px;
}

nav ul li a{
  text-decoration: none;
  font-size: 1.2em;
}

header{

  width: 100%;
  height: 750px;
}
.header-container{
  width: 100%;
  height: 750px;;
}
video{
  position: absolute;
  top: 0;
  left: 0;
  width: 1900px;
  height:750px;
  padding: 0;
  margin: 0;
}

form{
position: absolute;
  top: 110px;
  right: 10px;
  width: 40%;
  height: 100%;
  border: 1px solid white;
  background-color: white;
}

.form-titles{
  position: relative;
  top: 75px;
  left: 55px;
}

form h2{
  font-size: 3em;
  line-height: 30px;;
  color: #352384;
}

form h5{
  font-size: 1em;
  line-height: 50px;;
  color: #352384;
}

.form-imputs{
  position: relative;
  top: 80px;
  left: 55px;
}

header form input{
  width: 85%;
  height: 60px;
  border: 0;
  border-bottom: 1px solid #352384;
  padding-bottom: 0;
}

header form .become-driver{
  position: absolute;
  top: 270px;
  left: 0;
  border: 1px solid #FF00BF;
  background-color: #FF00BF;
  border-radius: 10px;
  color: white;
  padding: 20px;
  text-decoration: none;
}

header form .signup-ride{
  color:  #352384;
  position: absolute;
  top: 290px;
  right: 260px;
}

form h6{
  font-size: 0.6em;
  position: absolute;
  color: #352384;
  opacity: 0.6;
}

.here{
  top: 365px;
}

.learn{
  top: 395px;
}

form h6 a{
  text-decoration: none;
}

#rideInfo{
  position: absolute;
  top: 750px;
  left: 0;
  width: 100%;
  height: 900px;
  background: linear-gradient(#76278f, #2B1E66)
}

.text-rideInfo{
  position: absolute;
  top: 170px;
  left: 200px;
  width: 40%;
  height: 100%;
  color: white;
}

section h3{
  font-size: 2em;
  line-height: 70px;
}

section h5{
  font-size: 1.15em;
  line-height: 30px;
}

.img-rideInfo{
  position: absolute;
  top: 0;
  right:  0;
  width: 60%;
  height: 100%;
}

.p1,.p2,.p3{
  margin-bottom: 70px;
}

.p3 h3{
  line-height: 40px;
}

.img-rideInfo img{
  position: absolute;
  width: 70%;
  height: 80%;
  left: 200px;
}


#amplify{
  position: absolute;
  top: 1650px;
  left: 0;
  width: 100%;
  height: 800px;
}



.amplify-video, .goodThingVideo{
  position: absolute;
  right: 0;
  width: 70%;
  height: 100%;
}

iframe{
  width: 100%;
  height: 100%;

}

.amplify-text, .goodThing-text {
  position: absolute;
  top: 40px;
  left: 80px;
  padding: 0;
  width: 20%;
}


#june{
  position: absolute;
  top:2450px;
  left: 0;
  width: 100%;
  height: 800px;
}

.june-video{
  position: absolute;
  left: 0;
  width: 70%;
  height: 100%;
}

.june-text{
  position: absolute;
  top: 40px;
  right: 60px;
  width: 30%;
  padding-left: 150px;
  padding-right: 100px;
}


#goodThing{
  position: absolute;
  top: 3245px;
  left: 0;
  width: 100%;
  height: 800px;
}


footer{
  position: absolute;
  top: 4050px;
  left: 0;
  height: 500px;
}

.footer-stores{
  width: 40px;
  height: 20px;
}
